.register {
    $root: &;

    &__heading {
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-weight: 100;
        margin: 1em 0 0 0;
            text-align: center;
    }

    &__description {
        font-family: 'Roboto Mono', monospace;
        color: white;
        text-align: center;
    }

    &__content {
        font-family: 'Roboto Mono', monospace;
        font-weight: 500;
        background-color: #ffff;
        width: 30em;
        height: 25em;
        margin: 4em auto;
        padding: 1em;
        display: flex;
        background-image: linear-gradient(0deg, white, white),
        linear-gradient(0deg, #9f9eff, #807dfe);
        background-clip: padding-box, border-box;
        background-origin: border-box;
        border: 4px solid transparent;
        border-radius: 1.75rem;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__inputs {
        width: 100%;
    }

    &__label {
        display: flex;
        align-items: center;
        z-index: 0;
        position: relative;

        &--login {
            &:before {
                content: url("../../assets/icons/person.svg");
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                border: 2px solid;
                border-color: white;
                text-align: center;
                border-radius: 3em;
                width: 2em;
                height: 2em;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }
        }

        &--password {
            &:before {
                content: url("../../assets/icons/lock.svg");
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                border: 2px solid;
                border-color: white;
                text-align: center;
                border-radius: 3em;
                width: 2em;
                height: 2em;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }
        }

    }

    &__input {
        border: 2px solid #f5f5f5;
        background-color: transparent;
        height: 2.5em;
        margin: 1em 0;
        border-radius: 3em;
        width: 100%;
        padding: 0 4em;
        color: white;
        font-family: 'Roboto Mono', monospace;
        cursor: pointer;

        &::placeholder {
            color: white;
            margin: 0 1em;
        }

        &:focus {
            outline: none;
            background-color: #8b60be;
            transition: background-color 0.6s ease;
        }
    }


    &__icon {
        margin: 0 0.5em 0 0;
    }

    &__submit {
        color: white;
        width: 30%;
        height: 3em;
        border: 2px transparent;
        border-radius: 4em;
        background-color: #e6a95b;
        font-family: "Roboto Mono", monospace;
        transition: background-color 0.4s ease;
        font-size: 14px;
        box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1529411765);
        margin: 1em 0 0 0;
        position: absolute;
        bottom: 12em;

        &:hover {
            cursor: pointer;
            background-color: #d39b51;
            transition: background-color 0.4s ease;
        }

        &:active {
            background-color: #ce9040;
            transition: background-color 0.4s ease;
        }

        &:disabled {
            background-color: #a8a7a6;

            &:hover {
                cursor: default;
            }
        }
    }
    
    &__invalid {
       display: flex;

        &__icon {
            width: 1.2em;
            height: 1.2em;
            border-radius: 50%;
            border: 1px solid white;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
        }

        &__text {
            margin-left: 0.5em;
        }
    }

    &__tooltip {
        background: none;
        border: none;
        color: white;

        &__content {
            color: white;
            border-radius: 4px;
            color: #5c74ec;
            background-color: white;
            box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
            user-select: none;
            animation-duration: 400ms;
            animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
            will-change: transform, opacity;
            padding: 10px 15px;
            max-width: 10em;
            font-family: "Roboto Mono", monospace;
        }

        &__content[data-state='delayed-open'][data-side='top'] {
            animation-name: slideDownAndFade;
        }

        &__content[data-state='delayed-open'][data-side='right'] {
        animation-name: slideLeftAndFade;
        }

        &__content[data-state='delayed-open'][data-side='bottom'] {
        animation-name: slideUpAndFade;
        }

        &__content[data-state='delayed-open'][data-side='left'] {
        animation-name: slideRightAndFade;
        }

        &__arrow {
            fill: white;
        }
    }

    @keyframes slideUpAndFade {
        from {
            opacity: 0;
            transform: translateY(2px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }   

    @keyframes slideRightAndFade {
        from {
            opacity: 0;
            transform: translateX(-2px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slideDownAndFade {
        from {
            opacity: 0;
            transform: translateY(-2px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideLeftAndFade {
        from {
            opacity: 0;
            transform: translateX(2px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}